@model List<CrudAlimentos.Models.alimento>

@{
    ViewBag.Title = "Inicio";
}

<div class="row" style="margin-top:30px">
    <div class="col-sm-12">

        <div class="panel panel-warning">
            <div class="panel-heading">
                <h4>Food List</h4>
            </div>
            <div class="panel-body">
                <a class="btn btn-success" href="@Url.Action("Edit","Alimento")">Create New</a>
                <hr />
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Rating</th>
                                
                                
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (CrudAlimentos.Models.alimento item in Model)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.Description</td>
                                    <td>@item.Rating</td>
                                   
                                    <td>
                                        @*<a class="btn btn-primary btn-sm" href="@Url.Action("Edit","Alimento")">Edit</a>
                                        <a class="btn btn-danger btn-sm" href="@Url.Action("Eliminar","Alimento")">Delete</a>*@

                                        <a class="btn btn-primary btn-sm" href="@Url.Action("Edit","Alimento", new { IdAlimento = item.IdAlimento })">Edit</a>
                                        <a class="btn btn-danger btn-sm" href="@Url.Action("Delete","Alimento", new { idalimento = item.IdAlimento })">Delete</a>

                                    </td>

                                </tr>

                            }



                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
</div>